*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
       background: linear-gradient(to right, #4facfe, #00f2fe);
}
.container{
    width: 400px;
    height: 400px;
    border: 2px solid white;
    align-items: center;
    text-align: center;
    margin: 100px 600px;
    background:white;
    border-radius: 10px;
    h1{
    

        margin: 30px;
    }
}
#input{
    width: 300px;
    height: 40px;
}
button{
    width: 60px;
    height: 40px;
}
#city{
    margin: 20px;
    font-size: 20px;
}
#report{
    display: grid;
    gap:20px;
    font-size: 1.2rem;
}